phpunit.xml
composer.phar
composer.lock
composer-test.lock
build/artifacts/
artifacts/
docs/_build
docs/*.pyc
.git*/
.idea
.DS_STORE
branches/
tags/
.svn/
search-inside.zip
.svn-prop.tmp.swp
svn-prop.tmp
versions/